.auth-container {
    animation: auth 0.5s forwards;
    background-image: linear-gradient(to right top, #a16bd1, #996bd9, #8f6ce2, #826dea, #726ef3, #7c73f6, #8579f9, #8e7efc, #ac8afa, #c497f9, #d8a5f9, #e9b5f9);
}

@keyframes auth {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.auth-box {
    border: 2px solid #e8e8e8;
}

input {
    outline: none;
}

input:focus {
    border-color: #5271FF;
}

button {
    color: #fff;
    transition: all 0.25s ease-out;
}

button:hover {
    background-color: #333;
}